In [1]:
import numpy as np
import pandas as pd

In [2]:
data_1 = pd.read_csv('yellow_tripdata_2009-01.csv')
data_2 = pd.read_csv('yellow_tripdata_2011-01.csv')

C:\Users\Hao\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2902: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_1.head()

,Unnamed: 0,vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt,Location_ID
0,0,VTS,2009-01-04 02:52:00,2009-01-04 03:02:00,1,2.63,-73.991957,40.721567,NaN,NaN,-73.993803,40.695922,CASH,8.9,0.5,NaN,0.00,0,9.40,144
1,1,VTS,2009-01-04 03:31:00,2009-01-04 03:38:00,3,4.55,-73.982102,40.736290,NaN,NaN,-73.955850,40.768030,Credit,12.1,0.5,NaN,2.00,0,14.60,107
2,2,VTS,2009-01-03 15:43:00,2009-01-03 15:57:00,5,10.35,-74.002587,40.739748,NaN,NaN,-73.869983,40.770225,Credit,23.7,0.0,NaN,4.74,0,28.44,249
3,3,DDS,2009-01-01 20:52:58,2009-01-01 21:14:00,1,5.00,-73.974267,40.790955,NaN,NaN,-73.996558,40.731849,CREDIT,14.9,0.5,NaN,3.05,0,18.45,238
4,4,DDS,2009-01-24 16:18:23,2009-01-24 16:24:56,1,0.40,-74.001580,40.719382,NaN,NaN,-74.008378,40.720350,CASH,3.7,0.0,NaN,0.00,0,3.70,211

In [4]:
data_2.head()

,Unnamed: 0,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,Location_ID
0,0,CMT,2011-01-29 02:38:35,2011-01-29 02:47:07,1,1.2,-74.005254,40.729084,1,N,-73.988697,40.727127,CSH,6.1,0.5,0.5,0,0,7.1,125
1,1,CMT,2011-01-28 10:38:19,2011-01-28 10:42:18,1,0.4,-73.968585,40.759171,1,N,-73.964336,40.764665,CSH,4.1,0.0,0.5,0,0,4.6,162
2,2,CMT,2011-01-28 23:49:58,2011-01-28 23:57:44,3,1.2,-73.980710,40.742390,1,N,-73.987028,40.729532,CSH,6.1,0.5,0.5,0,0,7.1,137
3,3,CMT,2011-01-28 23:52:09,2011-01-28 23:59:21,3,0.8,-73.993773,40.747329,1,N,-73.991378,40.750050,CSH,5.3,0.5,0.5,0,0,6.3,186
4,4,CMT,2011-01-28 10:34:39,2011-01-28 11:25:50,1,5.3,-73.991475,40.749936,1,N,-73.950237,40.775626,CSH,25.3,0.0,0.5,0,0,25.8,186

In [11]:
data_1.columns.tolist()

['Unnamed: 0',
 'vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'Rate_Code',
 'store_and_forward',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'mta_tax',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt',
 'Location_ID']

In [12]:
data_2.columns.tolist()

['Unnamed: 0',
 'vendor_id',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'rate_code',
 'store_and_fwd_flag',
 'dropoff_longitude',
 'dropoff_latitude',
 'payment_type',
 'fare_amount',
 'surcharge',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'Location_ID']

In [16]:
pick_up_time = data_1.iloc[:, 2][0]

In [24]:
pick_up_time_2 = pick_up_time[:-6].replace('-', ' ')

In [26]:
pick_up_time_2.split(' ')

['2009', '01', '04', '02']

In [27]:
location = data_1.iloc[:, -1][0]

In [28]:
location

144

In [33]:
def get_key(line):
	pickup_location = str(line[-1])
	pickup_time = line[2]
	if len(pickup_time)>6:
		pickup_time = pickup_time[:-6].replace('-', ' ')
		pickup_time = pickup_time.split(' ')
		pickup_time = ','.join(pickup_time)
	key = ','.join([pickup_location, pickup_time])
	return key

In [63]:
def RepresentsFloat(s):
    try: 
        float(s)
        return True
    except ValueError:
        return False
    
def get_value(line):
	### get passenger count 
	passenger_count = line[4]
	if not RepresentsFloat(passenger_count):
		passenger_count = 0.

	### get trip distance
	trip_distance = line[5]
	if not RepresentsFloat(trip_distance):
		trip_distance = 0.

	### get fare amount
	fare_amount = line[13]
	if not RepresentsFloat(fare_amount):
		fare_amount = 0.

	### get surcharge
	surcharge = line[14]
	if not RepresentsFloat(surcharge):
		surcharge = 0.

	### get tip amount
	tip_amount = line[16]
	if not RepresentsFloat(tip_amount):
		tip_amount = 0.

	### get tolls amount
	tolls_amount = line[17]
	if not RepresentsFloat(tolls_amount):
		tolls_amount = 0.

	### get total amount
	total_amount = line[18]
	if not RepresentsFloat(total_amount):
		total_amount = 0.

	return [passenger_count, trip_distance, fare_amount, surcharge, tip_amount, tolls_amount, total_amount]

In [58]:
type(pass_c = data_2['trip_distance'][1])

TypeError: type() takes 1 or 3 arguments

In [79]:
get_key(line)

'142,2011,01,25,15'

In [82]:
a = get_value(line)

In [65]:
line = data_2.loc[1000, :].tolist()

In [69]:
data_2.loc[1000]

Unnamed: 0                           1000
vendor_id                             CMT
pickup_datetime       2011-01-25 15:44:47
dropoff_datetime      2011-01-25 15:53:52
passenger_count                         1
trip_distance                         1.6
pickup_longitude                 -73.9842
pickup_latitude                   40.7697
rate_code                               1
store_and_fwd_flag                      N
dropoff_longitude                -74.0028
dropoff_latitude                  40.7606
payment_type                          CRD
fare_amount                           6.9
surcharge                               0
mta_tax                               0.5
tip_amount                           1.48
tolls_amount                            0
total_amount                         8.88
Location_ID                           142
Name: 1000, dtype: object

In [75]:
type(data_1.iloc[0, 0])

numpy.int64

In [94]:
value = get_value(line)
value_string = '\t'
for v in value:
	a = '%.2f,'%(v)
	value_string = value_string+a

value_string = value_string[:-1]

In [95]:
value_string

'\t1.00,1.60,6.90,0.00,1.48,0.00,8.88'

In [83]:
a

[1, 1.6000000000000001, 6.9000000000000004, 0.0, 1.48, 0.0, 8.8800000000000008]